#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

#card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45vh;
    padding: 10px;
}

#img-placeholder {
    width: 45vh;
    height: 45vh;
    background-color: gray;
    background-size: cover;
    border-radius: 8px;
    overflow: hidden; 
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.5);
}

#card-footer {
    margin: 15px 0px 0px 0px;
    font-size: 14px;
    height: auto;
    text-align: center;
  }
  
#card-footer * {
    margin-top: auto;
  }