body {
    display: flex;
    margin: 20px;
    background-color: white;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
  }  

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    background-color: goldenrod;
    color: black;
    padding: 15px;
    cursor: pointer;
  }

h3 {
    margin: 20px;
}
#search {
    margin-left: 50px;
    width: 95%;
}

input {
    width: 80%;
    font-size: 16px; 
    border: 2px solid #ccc; 
    border-radius: 8px; 
    background-color: #f9f9f9;
    resize: vertical; 
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.buffer {
    display: flex;
    justify-content: center;
    width: 95%;
    font-size: 50px;
    color: goldenrod;
}

#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-width: 1360px;
    width: 95%;
    border: 2px solid black;
    border-radius: 25px;
    background-color: black;
    color: white;
    margin: 20px;
    padding-top: 20px;
}

#card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45vh;
    padding: 10px;
}

#img-placeholder {
    width: 45vh;
    height: 45vh;
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    overflow: hidden; 
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.5);
}

#card-footer {
    margin: 15px 0px 0px 0px;
    font-size: 14px;
    height: auto;
    text-align: center;
}

#artist-title {
height: 25px; 
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

#card-title {
    height: 30px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
  
#card-footer * {
    margin-top: auto;
  }

#page {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 95%; 
}
  
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}